 body {
		 font-size:.8em;
		 color:##322423;
		  line-height:1.7em;
		
		  }
		 .eadheader{
         display: none;
         }
         .unitdate {
         display: inline;
         }
         .date{
         display: inline;
         }
         .titleproper{
         font-weight:bold;
         font-size: 16pt;
         padding-bottom: 1em;
         padding-top:.5em;
         }
         .num{
         font-weight:bold;
         }
         .titlepage{
         line-height:1.5;
         text-align: center;
         }
         .publisher{
         padding-top: 1em;
         padding-bottom: 1em;
         line-height:1;
         }
         .address{
         padding-top: 1em;
         padding-bottom: 1em;
         line-height:1;
         }
         .label{
         display: inline;
         font-weight:bold;
         }
         .defitem>.item{
         display: inline;
         }
         .list{
         padding-top: 1em;
         padding-bottom: 2em;
         }
         .titlepage{
         padding-bottom: 3em;
         }
         .head{
         padding-top: 2px;
         padding-bottom: 2px;
         }
         .descgrp>.head{
         font-weight: bold;
         font-size: 14pt;
         padding-bottom: 1em;
         padding-top: 1em;
         }
         .descgrp>div{
         padding-left: 20px;
         }
         .descgrp>div.head{
         padding-left: 0px;
         }
         .controlaccess>div{
         padding-left: 20px;
         }
         .controllaccess>div.head{
         padding-left: 0px;
         }
         .FindingAid{

         }
         .head{
         font-weight:bold;
         }
         div.p {
         padding-bottom: 1ex;

         }
         .title{
         display: inline;
         font-style: italic;
		 font-size:1em;
         }
         .item{
         display: block;
         }
         .c01, .c02, .c03, .c04, .c05, .c06, .c07, .c08, .c09, .c10, .c11, .c12 {
         padding-left:20px;
         }
         .c01>.did{
         font-weight: bold;
         padding: 5px;
         }
         .physdesc{
         padding-left:50px;
         }
         .unittitle{
         padding: 10px;
         display: inline;
         padding-bottom:1px;
         cursor: pointer;
         }
  
         #mainContent{

		 height:400px;
		 overflow:auto;
		margin-top:10px;

		width:530px;
         }
         #main{
         height:400px;}
		
         #sidebar{
         /*float: left; 
         width: 20%;
         overflow:auto;*/
         background-color:#F7CC8A;
		 margin-top:10px;
		 height:400px;
		 padding-bottom:20px;
         }
         #navBar{
         list-style: none;
         padding-left:0;
         }
         #navBar li{
         padding: 10px 5px 10px 5px;
         /* border: thin solid #888; */
         }
		 #navBar ul.sub li {
			padding-left:30px;
		 }
		 #navBar li a {
		 	color:#4B3134;
			font-size:100%;
		 }
         .headlink{
         text-decoration: none;
         color: white;
         }
         .seriestitle{
         text-decoration: none;
         color: white;
         }
         .box{
         display: inline;
		 padding:none;
		 margin-bottom:none;
		 background:none;
         }
         .folder{
         display: inline;
         }
         #popBox{
         display: none;
         }
         .container{
         height:500;
         }