/* Dorothy Loudon styles*/

/* general styles ----------- */
body {
	background:#f9e0ad;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	font-size:100%;
	color:#4b3134;
	padding-bottom:50px;
}
.container {
	margin:30px auto;
}
.spotlight {
	position:fixed;
	top:0;
	left:-200px;
	z-index:-10;
}

h1 {
	font-size:2em;
	color:#62101a;
}
em{
	font-style:italic;
}
h2 {
	font-size:1.3em;
	font-weight:bold;
	text-transform:uppercase;
	line-height:1em;
	color:#fff;
}
h3 {
	font-size:1.7em;
	color:#9c5a37;
	font-weight:bold;
	margin:.5em 0;
}

p, .about ul, .credits ul {
	font-size:.8em;
	line-height:1.7em;
	margin-top:1.7em;
	color:#322423;
	letter-spacing:.1em;
}
p.legal {
	font-style:italic;
	font-size:.7em;
}
.about ul {
	margin-bottom:15px;
	list-style-type:none;
}
.about ul li {
	padding-bottom:5px;
	background: url(../images/arrow.gif) left top no-repeat;
	padding-left:25px;
}

.credits ul li {
	padding-bottom:10px;
}
.title {
	padding:0;
	margin:0;
	font-style:italic;
	font-size:.6em;
	padding-left:10px;
	color:#9c5a37;
}
a:link, a:visited {
	color:#4B3134;
}
a:focus, a:hover, a:active {
	color:#9C5A37;
}

strong {
	font-weight:bold;
}
/* logo ----------------------- */
.logo {
	margin-bottom:40px;
}
.logo h1 {
	background:url(../images/DorothyLoudonLogo.png) no-repeat;
	text-indent:-9999px;
	display:block;
	width:144px;
	height:115px;
	float:left;
	margin-bottom:0px;
	margin-left:-5px;
}

/* navigation ----------------- */
ul#nav  {
	display:block;
	height:80px;
	margin-top:28px;
	margin-bottom:50px;
}
#nav li {
	text-indent:-9999px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display:inline;
}
#nav li a {
	display:block;
	height:80px;
	text-decoration:none;
	position:relative;
}
#nav li a h2 {
	position:absolute;
	bottom:-3px;
}
#nav li.nav1{
	background:#62111a url(../images/nav1.png) no-repeat;
}
#nav li.nav1:hover, #nav li.nav1.active{
	background:#7b1f29 url(../images/nav1.png) no-repeat 0 -80px;
}
#nav li.nav2{
	background:#4B3134 url(../images/nav2.png) no-repeat;
}
#nav li.nav2:hover, #nav li.nav2.active{
	background:#624245 url(../images/nav2.png) no-repeat 0 -80px;
}
#nav li.nav3{
	background:#9c5a37 url(../images/nav3.png) no-repeat;
}
#nav li.nav3:hover, #nav li.nav3.active{
	background:#b06540 url(../images/nav3.png) no-repeat 0 -80px;
}
#nav li.nav4{
	background:#554c47 url(../images/nav4.png) no-repeat;
}
#nav li.nav4:hover, #nav li.nav4.active{
	background:#6a5e58 url(../images/nav4.png) no-repeat 0 -80px;
}
/* main styles ----------------- */


/* Carousel styles */
#ui-carousel-next, #ui-carousel-prev {
	width: 70px;
	height: 300px;
	background:url(../images/prev.gif) no-repeat 50% 50%;
	display: block;
	top: 0;
	z-index: 100;
}
#carousel #home-img {
	margin-top:25px;
}
#ui-carousel-next {
	background:url(../images/next.gif) no-repeat 50% 50%;
}
#ui-carousel-next > span, #ui-carousel-prev > span {
	display: none;
}
.slide {
	margin: 0;
	position: relative;
}
#pages { /* not sure what this style is for?? */
	width: 150px;
	margin: 0 auto;
}
.date {
	font-size:.9em;
	padding-bottom:10px;
	color:#9C5A37;
}
.relatedHead {
	font-size:.9em;
	overflow: auto;
	max-height:300px;
}
.relatedHead span.relatedItems {
	background:url(../images/arrow-2.gif) no-repeat;
	padding-left:30px;
	color:#7B1F29;
	text-decoration:none;
	line-height:25px;
	cursor:pointer;
	
}
.relatedHead a.relatedItems:hover, .relatedHead a.relatedItems:active {
	border-bottom:1px dotted #7b1f29;	
}

.relatedItemList li {
	line-height:1.5em;
	font-size:.9em;
	
}
/* show-list styles */
#show-list {
	font-size: .8em;
	line-height:1.7em;
}

#show-list li {
	width:80%;
	margin-bottom:.5em;
}
#show-list li a:link {
	width:80%;
	color:#7B1F29;
	text-decoration:none;
	display: block;
	width:100%;
	padding:4px;
}
#show-list li a:visited { 
	color:#9c5a37;
}
#show-list li a:hover, #show-list li a:active {
	color:#4B3134;
	background-color:#f7cc8a;
	
}



